#!/bin/bash
set -e

echo "== Updating system =="
yay -Syu --noconfirm

echo "== Installing packages =="
yay -S --needed --noconfirm \
  base-devel git \
  chezmoi \
  discord \
  docker docker-compose \
  dolphin \
  fastfetch \
  firefox \
  htop \
  hypridle hyprland hyprlock hyprpaper \
  hyprshot \
  kitty \
  mariadb-libs mariadb-clients \
  neovim \
  pavucontrol \
  platformio-core \
  swaync \
  ttf-firacode-nerd \
  unzip \
  usbutils \
  uv \
  waybar \
  wget \
  wofi \
  zoxide \
  rustup

echo "== Done =="
